@CHARSET "UTF-8";
body
{
    background:url("../../img/knowledge/bg.png") repeat-x;
    font-size:13px;
    margin:0px auto;
    padding:0px;
    color:#888888;
}
.conbody{
	background:#e7e7e4;
	width: 100%;
	min-width: 1002px;
	padding-top: 50px;
}
.conmain{
	padding-right: 10px;
	background-color: white;
	border: 2px solid #cccccc;
	width: 1002px;
	margin: 0 auto;
	border-radius: 10px;
	padding: 30px 20px 0 20px;
	/*overflow: hidden;*/
}
.leftcon{
	margin: 0;
	width: 700px;
}
.rightcon{
	color: #535353;
	float: right;
	width: 280px;
}
/*right*/

.rightcon .mod{
	border: 1px solid #D4D4D4;
	width: 100%;
	margin-bottom: 20px;
 	padding-bottom: 20px;
}
.rightcon .prize{

}
.prize .title{

}
.prize p{
	text-indent: 2em;
	width: 80%;
	margin: 0 auto;
	word-break: break-word;
	line-height: 25px;
    	letter-spacing: 1px;
    	font-size: 16px;
    	margin-top: 10px;
}

.rightcon .erwei{
 	text-align: center;
}
.erwei img{
 	margin-top: 10px;
 	width: 210px;
 	margin-bottom: 10px;
}
.erwei h4{
 	color: #5195C3;
}
.rightcon .title{
	text-align: left;
 	height: 34px;
 	width: 100%;
 	border-bottom: 1px solid #D4D4D4;
    	background-color: #FBFBFB;
}
.rightcon .title h3{
  	line-height: 37px;
  	margin-left: 10px;
  	display: inline-block;
}
.rightcon .title a{font-size: 14px;
  	line-height: 37px;
  	margin-right: 10px;
  	float: right;
}
.zeng {
 	min-height: 200px;
}
.zeng .title{
	margin-bottom: 8px;
}
.zeng .zenglist{
	font-size: 16px;
	font-family: "Century Gothic","Microsoft yahei";
	margin: 0 10px 6px;
    	padding-bottom: 6px;
    	line-height: 1.8;
    	border-bottom: 1px dashed #D4D4D4;
    	overflow: hidden;
    	text-overflow: ellipsis;
    	white-space: nowrap;
}
.list{
	color: #323232;
}
.best{
	color:#FF9F32;
	z-index: 100px;
}


/*left*/
.t1{
	width: 100%;
	border: 1px solid #cccccc;
	border-radius: 5px;
	margin-bottom: 20px;
	padding: 10px 0;
}
.pri{
	position: relative;
}
.pri img{
	margin-left: 64px;
	width: 200px;
}
.pri p{
	width: 270px;
	position: absolute;
	line-height: 25px;
	letter-spacing: 1px;
	font-size: 16px;
	top: 69px;
	right: 63px;
	text-indent: 2em;
}
.pri h4{
	position: absolute;
	top: 20px;
	right: 65px;
	margin: 0;
	padding: 10 30;
	display: inline-block;
	text-align: center;
	border-radius: 30px;
	color: white;
	letter-spacing: 2px;
	background: #1289c8;
}

.don h4{
	width: 200px;
	margin: 0 0 0 30px;
	margin-bottom: 10px;
	background: #1289c8;
	padding: 10px;
	text-align: center;
	border-radius: 30px;
	color: white;
	letter-spacing: 2px;
}
.don .none{
	padding-top: 20px;
	text-align: center;
	width: 80%;
	margin: 0 auto;
	height: 70px;
	border-bottom: 1px dashed #8BC34A;
}
.zuolist{
	width: 85%;
	margin: 0 auto;
}

.zuolist .zuodv{
	display: inline-block;
}
.xinlist .xindv{
	display: inline-block;
}
.zuodv{
	position: relative;
	border: 1px solid #ccc;
}
.xindv{
	position: relative;
	border: 1px solid #ccc;
}

.zuodv h3{
	position: absolute;
	display: inline-block;
	bottom: 0px;
	left: 10px;
}
.xindv h3{
	position: absolute;
	display: inline-block;
	bottom: 0px;
	left: 10px;
}
.zuodv p{
	position: absolute;
	display: inline-block;
	top: 59px;
	right: 10px;
	width: 86px;
}
.zuodv img{
	width: 180px;
	height: 250px;
}
.xindv img{
	width: 180px;
	height: 250px;
}


.tit h4{
	margin: 0;
}

.clear{
	clear: both;
}