.img_pho{
	width:150px;height:150px;
}
.div_pho{
	width:150px;height:165px;float:left;margin-left:20px;margin-top:10px;
}
.a_ope1{
	margin-top:3px;display:none;
}
.div_pho:hover .a_ope1{
	float:left;
	display:block;
}
#a_del{
	margin-left:30px;
}

